.snippetContainer{
  background-color: rgb(34, 31, 47);
  width: 100%;
  max-width: 700px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}

.snippetContainer article h2{
  margin-bottom: 10px;
}